center {
    margin-bottom: 1.5rem;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center; 
}

#wrapped {
    font-family: HelveticaNeue-CondensedBold;
    color: #1DA1F2;
    font-size: 30px;
}

#twitter-logo {
    width: 70px;
    height: auto;
}