<!-- <div id="landingPage" class="">
    <div id="header" class="container text-center">
        <h1 class="display-4">you do be emitting tho 😳</h1>
        <p class="lead text-center">please enter your twitter username below:</p>

        <form action="/emissions" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" name="twitterUsername" placeholder="">
                </div>				  
        </form>
    </div>
</div> -->

<div id="landingPage">
    <div id="header">
        <h1>AYOOO</h1>
        <form action="/twitterData" method="POST">
            <input type="text" class="form-control" name="twitterUsername" placeholder="Twitter username here" required>
        </form>
    </div>
</div>